<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/输出b开头的字符串/src/输出b开头的字符串/printf_first_b.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="输出b开头的字符串.printf_first_b"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="输出b开头的字符串"/>
</launchConfiguration>
